
@viewport {
    width : device-width;
    height: device-height;
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  margin: 0;
  background: radial-gradient(#00b2ff, #0083bb);
}

.page-title {
  color: #53fff0;
  font-family: Creepy, serif;
  font-weight: normal;
  text-align: center;
  font-size: 6em;
}

.game-info-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}

.game-info {
  font-family: Lunacy, serif;
  color: #88ffea;
  font-size: 4em;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  margin: 50px;
  justify-content: center;
  perspective: 500px;
}

.card {
  position: relative;
  width: 200px;
  height: 280px;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  backface-visibility: hidden;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  transition: transform 500ms ease-in-out;
}

.card.visible .card-back {
  transform: rotateY(-180deg);
}

.card.visible .card-front {
  transform: rotateY(0);
}

.card.matched .card-value {
  animation: dance 1s linear infinite 500ms;
}

.overlay-text {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: #14f8ff;
  font-family: Creepy, serif;
}

.overlay-text-small {
  font-size: .4em;
}

.overlay-text.visible {
  display: flex;
  flex-direction: column;
  animation: overlay-glow 500ms forwards;
}

@keyframes overlay-glow {
  from {
    background-color: rgba(0,0,0,0);
    font-size: 0;
  }
  to {
    background-color: rgba(0,0,0,.8);
    font-size: 6em;
  }
}

@keyframes dance {
  0%, 100% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(3deg);
  }
}

.card-back {
  background-color: #ba4ab7;
  border-color: #0047ff;
}

.card-front {
  background-color: #88b8ff;
  border-color: #333;
  transform: rotateY(180deg);
}

.card-value {
  transition: transform 100ms ease-in-out;
  transform: scale(1);
}


.Flower {
  position: absolute;
  width: 47px;
  height: 47px;
  transition: width 100ms ease-in-out, height 100ms ease-in-out;
}

.card-face:hover .Flower {
  width: 52px;
  height: 52px;
}

.Flower-top-left {
  transform: rotate(270deg);
  top: 0;
  left: 0;
}

.Flower-top-right {
  top: 0;
  right: 0;
}

.Flower-bottom-left {
  transform: rotate(180deg);
  bottom: 0;
  left: 0;
}

.Flower-bottom-right {
  transform: rotate(90deg);
  bottom: 0;
  right: 0;
}

.heart {
  align-self: center;
  z-index: 105;
  width: 137px;
  height: 137px;
}

.card-back:hover .heart {
  width: 150px;
  height: 150px;
}

@media (max-width: 600px) {
  .game-container {
    grid-template-columns: repeat(2, auto);
  }
  .game0info-container {
    flex-direction: column;
    align-items: center;
  }
}
